Repository juma-classic/GlobalRich2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx stylelint --fix

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,css,scss}": "prettier --write",
    "*.{css,scss}": "npx stylelint --fix"
}

chore: update OAuth app ID from 125428 to 129365
  public/ai/turbo-speed-ai-bot.js
  public/nova/nova.js
  src/components/layout/header/header.tsx
  src/components/shared/utils/config/config.ts
  src/components/shared/utils/login/login.ts
  src/components/speed-bot/DerivAPIConnection.tsx
  src/components/speed-bot/speedbot-api.js
  src/components/zeus-analysis/ZeusAnalysisTool.tsx
  src/config/api-config.ts
  src/services/deriv-api-initializer.service.ts
  test-websocket.html
Due: prettier --write

rebrand: replace NOVA PRIME with GLOBAL TRADES across entire application
  PREMIUM_WHITELIST_GUIDE.md
  dtrader-manual-standalone.html
  index.html
  manifest.json
  src/app/App.tsx
  src/app/AuthWrapper.tsx
  src/components/admin-panel/AdminPanel.tsx
  src/components/layout/app-logo/app-logo.scss
  src/components/layout/app-logo/index.tsx
  src/components/layout/header/header.tsx
  src/components/loader/GlobalTradesLoader.scss
  src/components/loader/GlobalTradesLoader.tsx
  src/components/loader/index.ts
  src/config/api-config.ts
  src/main.tsx
  src/services/deriv-api-initializer.service.ts
  src/services/premium-whitelist-api.service.ts
  src/services/stake-manager.service.ts
  src/utils/admin-check.ts
  src/utils/anti-inspect.ts
  src/utils/site-config.ts
Due: prettier --write, npx stylelint --fix

Rename bots: Novagrid 2026 to AutoRich 2026 () and Novagrid Elite to Divergent Pro () with updated descriptions
  src/components/admin-panel/AdminPanel.tsx
  src/components/signal-overlay/SignalOverlay.tsx
  src/components/signals/SignalsCenter.tsx
  src/pages/main/main.tsx
  src/services/raziel-bot-loader.service.ts
  src/utils/premium-access-check.ts
Due: prettier --write

Update all meta tags to consistently show GLOBAL TRADES branding
  index.html
Due: prettier --write

Rename Nova Analysis to Global Analysis in navigation menu and all references
  public/nova/index.html
  public/nova/nova.js
  src/app/App.tsx
  src/components/navigation/NovaAnalysisNavButton.tsx
  src/components/shared_ui/tabs/tabs.scss
  src/pages/main/main.tsx
  src/pages/nova-analysis-page.tsx
Due: prettier --write, npx stylelint --fix

Replace NOVAPRIME with GLOBAL TRADES in navigation menu logo
  src/components/layout/app-logo/index.tsx
Due: prettier --write

Implement functional copy trading using real Deriv API endpoints - monitors trader transactions and replicates trades automatically
  src/pages/copy-trading-page.tsx
  src/services/copy-trading-api.service.ts
Due: prettier --write

Add DEMO to REAL copy trading feature - copy trades from demo traders to real account with separate WebSocket connections
  src/pages/copy-trading-page.tsx
  src/services/copy-trading-api.service.ts
Due: prettier --write

Fix TypeScript type definition for connectedTraders - add missing accountType property
  src/pages/copy-trading-page.tsx
Due: prettier --write

feat: replace barspinner with large blue mechanical globe loader
  src/components/shared_ui/loading/loading.tsx
Due: prettier --write

fix: move connectToRealAccount method inside CopyTradingAPIService class
  src/services/copy-trading-api.service.ts
Due: prettier --write

chore: update app ID from 129365 to 117918 across all environments
  src/components/shared/utils/config/config.ts
Due: prettier --write

fix: update on the app id
  public/ai/turbo-speed-ai-bot.js
  public/nova/nova.js
  src/components/layout/header/header.tsx
  src/components/shared/utils/login/login.ts
  src/components/speed-bot/DerivAPIConnection.tsx
  src/components/speed-bot/speedbot-api.js
  src/components/zeus-analysis/ZeusAnalysisTool.tsx
  src/config/api-config.ts
  src/services/deriv-api-initializer.service.ts
  test-websocket.html
Due: prettier --write

fix: fixing the Globe loader
  src/components/loader/GlobalTradesLoader.tsx
Due: prettier --write

refactor: rename premium bot JSON keys from novagrid to autoRich/divergentPro
  public/premium-whitelist.json
  src/components/admin-panel/AdminPanel.tsx
  src/utils/premium-access-check.ts
Due: prettier --write

chore: update premium whitelist accounts
  public/premium-whitelist.json
Due: none

chore: update premium whitelist and component changes
  public/premium-whitelist.json
  src/components/admin-panel/AdminPanel.tsx
  src/components/zen/ZenUltraFastEngine.tsx
  src/pages/main/main.tsx
Due: prettier --write

chore: update premium whitelist
  public/premium-whitelist.json
Due: none

feat: add secret override for premium bot access - long-press 5s + double tap bypass
  src/pages/main/main.tsx
Due: prettier --write

feat: add admin password 4541 to bypass whitelist for premium bots
  src/pages/main/main.tsx
Due: prettier --write

fix: bot removal
  public/D strike 2.xml
  public/Magic Recovery.xml
  public/Over 2 Rec Over 4.xml
  public/UNDER 7,UNDER 5.xml
  public/UNDER 8,UNDER 6.xml
  public/autorich.xml
  public/🖤⚜️ 𝓣𝓱𝓮 𝓓𝓪𝓻𝓴 𝓓𝔂𝓷𝓪𝓼𝓽𝔂 ⚜️🖤2.xml
Due: none

refactor: rename Elvis Trades to Rich, update tabs to teal, fix autorich.xml refs
  public/$Dollar printer .xml
  public/AUTO C4 VOLT 🇬🇧 2 🇬🇧 AI PREMIUM ROBOT  (2) (1).xml
  public/CFX-EvenOdd.xml
  public/CFX-RiseFall.xml
  public/Flipping-Tool-2026 - Rich (1).xml
  public/Over 3 Delirium.xml
  public/Random LDP Differ - Rich.xml
  public/States Digit Switcher.xml
  public/Under-MarketSlayer v2.xml
  src/components/shared_ui/tabs/tabs.scss
  src/components/signals/SignalsCenter.tsx
  src/components/zeus-analysis/ZeusAnalysisTool.tsx
  src/config/auth.config.ts
  src/pages/main/main.tsx
  src/services/raziel-bot-loader.service.ts
Due: prettier --write, npx stylelint --fix

feat: add 9 new XML bots to Free Bots section
  src/pages/main/main.tsx
Due: prettier --write
